Aaron Leung <the.other.aaron@nxpkg.com> <modus.tollens@gmail.com>
Alex Saveliev <alexsaveliev@users.noreply.github.com> <lyolik@codeminders.com>
Antonina Cherednichenko <acherednichenko@codeminders.com> <antonina.cherednichenko@gmail.com>
Beyang Liu <beyang@nxpkg.com> <beyang.liu@gmail.com> 
Beyang Liu <beyang@nxpkg.com> beyang <beyang@nxpkg.com> 
Quinn Slack <sqs@nxpkg.com> sqs <>
Quinn Slack <sqs@nxpkg.com> sqs <sqs@nxpkg.com>
Quinn Slack <sqs@nxpkg.com> <qslack@qslack.com>
Caroline Frost <caroline@nxpkg.com> Caroline Frost <carolinefrost@Carolines-MacBook-Pro.local>
Caroline Frost <caroline@nxpkg.com> carolinefrost <caroline@nxpkg.com>
Caroline Frost <caroline@nxpkg.com> CarolineFrost <cfrost16@stanford.edu>
Dmitri Shuralyov <shurcooL@gmail.com> Dmitri Shuralyov <> 
Farhan Attamimi <farhan@nxpkg.com> Farhan <farhan@nxpkg.com> 
Farhan Attamimi <farhan@nxpkg.com> Farhan Attamimi <farhan.attamimi@gmail.com> 
Geoffrey Gilmore <geoffrey@nxpkg.com> Geoffrey Gilmore <tkdmaster123@gmail.com>
Geoffrey Gilmore <geoffrey@nxpkg.com> Geoffrey Gilmore <geoffreygilmore@Geoffreys-MacBook-Pro.local>
Geoffrey Gilmore <geoffrey@nxpkg.com> Geoffrey Gilmore <tkdmaster123@gmail.com>
Geoffrey Gilmore <geoffrey@nxpkg.com> Geoffrey Gilmore <ggilmore@mit.edu>
Geoffrey Gilmore <geoffrey@nxpkg.com> ggilmore <geoffrey@nxpkg.com>
Isaac Snow <isaac@nxpkg.com> Isaac Snow <isaacjsnow@gmail.com>
Isaac Snow <isaac@nxpkg.com> ijsnow <isaacjsnow@gmail.com>
Jamie Wilson <jamie@nxpkg.com> Jamie Wilson <jamie.wilsons@gmail.com>
Jamie Wilson <jamie@nxpkg.com> Jamie Wilson <jamiewilson@Jamies-MacBook-Pro.local>
John Rothfels <john@nxpkg.com> John Rothfels <john.rothfels@gmail.com>
John Rothfels <john@nxpkg.com> rothfels <john.rothfels@gmail.com>
John Rothfels <john@nxpkg.com> John Rothfels <rothfels@Johns-MBP-2.web-pass.com>
John Rothfels <john@nxpkg.com> John Rothfels <rothfels@Johns-MBP-3.web-pass.com>
John Rothfels <john@nxpkg.com> John Rothfels <rothfels@Johns-MacBook-Pro-3.local>
John Rothfels <john@nxpkg.com> John Rothfels <rothfels@users.noreply.github.com>
Jonathan Poler <jon@nxpkg.com> Jonathan Poler <jon@Jonathans-MBP.web-pass.com>
Jonathan Poler <jon@nxpkg.com> jon <jonathan.poler@gmail.com>
Leo Succar-Ferré <leosuccarferre@gmail.com> Leo Succar-Ferré <leo@Leos-MacBook-Pro.local>
Linda Xie <linda@nxpkg.com> Linda Xie <lindaxie93@gmail.com>
Matt Sprague <matt@nxpkg.com> Matt Sprague <uforic@users.noreply.github.com>
Nick Snyder <nick@nxpkg.com> Nick Snyder <nickdsnyder@gmail.com>
Nico Tonozzi <dominic.tonozzi@gmail.com> Nico Tonozzi <nico@nicot.us>
Renfred Harper <renfredxh@gmail.com> Renfred Harper <>
Rich Taylor <rich@nxpkg.com> Rich Taylor <rqtaylor@gmail.com>
Rohan Pai <rohan@nxpkg.com> Rohan Pai <me@rohanpai.com>
Samuel Lavery <sam@nxpkg.com> Sam Lavery <samlavery@users.noreply.github.com>
Seebs <seebs@nxpkg.com> Seebs <seebs@seebs.net>
Stephen Gutekanst <slimsag@users.noreply.github.com> Stephen Gutekanst <> 
Stephen Gutekanst <slimsag@users.noreply.github.com> Stephen Gutekanst <stephen.gutekanst@gmail.com> 
Stephen Gutekanst <slimsag@users.noreply.github.com> Stephen Gutekanst <stephen@Stephens-MacBook-Pro.local>
Vanesa Ortiz <vanesa@nxpkg.com> Vanesa <vanesa@users.noreply.github.com>
Vanesa Ortiz <vanesa@nxpkg.com> Vanesa Ortiz <mail@vanesaortiz.com>
Dan Adler <dadlerj@users.noreply.github.com> dadlerj <daniel.neal.adler@gmail.com>
Julien Chien <julien@nxpkg.com> julien <julien@nxpkg.com>
Martin Amps <m@rtin.so> martinamps <m@rtin.so>
Matt Sprague <matt@nxpkg.com> matt <matt@nxpkg.com>
Matt Sprague <matt@nxpkg.com> mattfs <matt.sprague@gmail.com>
Richard Musiol <mail@richard-musiol.de> neelance <mail@richard-musiol.de>
Pararth Shah <pararth@nxpkg.com> pararthshah <pararth@nxpkg.com>
Ildar Isaev <iisaev@codeminders.com> root <Ildar Isaev>
Seebs <seebs@nxpkg.com> seebs <github@seebs.net>
Nxpkg Team <hi@nxpkg.com> the Nxpkg team <hi@nxpkg.com>
Unknown <u@gogs.io> Unknwon <u@gogs.io>
Unknown <u@gogs.io> 无闻 <u@gogs.io>
Renovate Bot <bot@renovateapp.com> renovate[bot] <renovate[bot]@users.noreply.github.com>
Matt King <kingy895@gmail.com> Matthew King <kingy895@gmail.com>
Nico Tonozzi <dominic.tonozzi@gmail.com> Dominic Tonozzi <nico@Dominics-MBP.web-pass.com>
